body { 
	padding: 0px; 
	margin:  0px; 
	font-family: Arial, Helvetica, sans-serif; 
	background: #fff; 
	color: #000; 
}

a:link{
	color:rgb(177, 61, 7)
	
}

a:visited{
	color:rgb(213, 163, 0)
}

a:hover{
	background-color:rgba(255, 255, 255, 0);
	color:rgb(65, 111, 12)
}

a: active{
	color:#F3F
}

.logo{
	font-size:32px

}

#navlist li
	{
	display: inline;
	list-style-type:circle;
	padding-right: 20px;
	border-left: 1px solid #000;
	line-height: 1.1em;
	margin: 0 .5em 0 -.5em;
	padding: 0 .5em 0 .5em;
	}





.box {
	margin:10px;
	padding:10px;
	background-color:#f3f2ef;
	border-width:1px;
	border-color:black;
	border-style:solid;
	clear:both;
	
	}
.nav {
	margin:10px;
	padding:10px;
	background-color:#f3f2ef;
	border-width:1px;
	border-color:black;
	border-style:solid;
	
	}
	
.deadnav {
		color:#000000;
		background-color: :rgba(0, 0, 0, 0)
	}

.left {
	width:20%;
	margin:10px;
	padding:10px;
	background-color:#f3f2ef;
	border-width:1px;
	border-color:black;
	border-style:solid;
	float:left;

	
	}
.centre {
	width:47%;
	margin:10px;
	padding:10px;
	background-color:#f3f2ef;
	border-width:1px;
	border-color:black;
	border-style:solid;
	float:left;

	
	}
.right {
	width:20%;
	margin:10px;
	padding:10px;
	background-color:#f3f2ef;
	border-width:1px;
	border-color:black;
	border-style:solid;
	float:right;
	

	
	}
.lower_nav {
	margin:10px;
	padding:10px;
	background-color:##f3f2ef;
	border-width:1px;
	border-color:black;
	border-style:solid;
	clear:both;
	
	}
.legal {
	margin:10px;
	padding:10px;
	background-color:#f3f2ef;
	border-width:1px;
	border-color:black;
	border-style:solid;
	float:none;
	clear:both;
	
	}
